.Cart {
    min-width: 600px;
    max-width: 1100px;
    margin: auto;
    flex-direction: column;
    display: flex;
}

.Cart-Container {
    background-color: #fff;
    border-radius: 12px;
    align-items: center;
    margin-bottom: 12px;
    padding: 16px 20px;
    display: flex;
    justify-content: space-between;
}

.Cart-CartClear {
    display: flex;
    align-items: center;
    gap: 5px;
}

.Cart-ButtonClear {
    background-color: inherit;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.Cart-ButtonClear:active {
    background-color: #d6d6d6;
}

.Cart-List {
    margin-top: 10px;
    display: flex;
    gap: 16px;
    flex-direction: column;
}

.CardCart-Image {
    height: 96px;
    width: 96px;
}
