.Cart {
    min-width: 600px;
    max-width: 1100px;
    margin: auto;
    flex-direction: column;
    display: flex;
}

.Cart-CartTitle {
    background-color: #fff;
    border-radius: 12px;
    align-items: center;
    margin-bottom: 12px;
    padding: 16px 20px;
}

.Cart-List {
    margin-top: 10px;
    display: flex;
    gap: 16px;
    flex-direction: column;
}

.CardCart-Image {
    height: 96px;
    width: 96px;
}
